<section class="cepkoncept-services" data-nav-target="services">
  <header class="section-header">
    <div class="crown"></div>
    <h2 class="main-header main-header-bold">services</h2>
    <p class="sub-header">wondering what we can offer you?</p>
  </header>

  <div class="service left">
    <div class="content">
      <h3 class="header main-header main-header-bold">01 &mdash; architectural consultancy</h3>
      <p class="text paragraph paragraph-light">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam modi, ut similique sequi inventore? Magni voluptate placeat cumque doloremque, earum provident quia quos, nesciunt accusantium, vel dolorum. Quia, dolores adipisci.
      </p>
      <div><button class="btn">&mdash; learn more</button></div>
    </div>
    <div class="border"></div>
    <div class="image">
      <img src="./assets/images/rohim.jpg" alt="">
    </div>
  </div>

  <div style="height: .1rem;"></div>  

  <div class="service right">
    <div class="content">
      <h3 class="header main-header main-header-bold">02 &mdash; water works</h3>
      <p class="text paragraph paragraph-light">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam modi, ut similique sequi inventore? Magni voluptate placeat cumque doloremque, earum provident quia quos, nesciunt accusantium, vel dolorum. Quia, dolores adipisci.
      </p>
      <div><button class="btn">&mdash; learn more</button></div>
    </div>
    <div class="border"></div>
    <div class="image">
      <img src="./assets/images/lee.jpg" alt="">
    </div>
  </div>

  <div style="height: .1rem;"></div>  

  <div class="service left">
    <div class="content">
      <h3 class="header main-header main-header-bold">03 &mdash; dry works</h3>
      <p class="text paragraph paragraph-light">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam modi, ut similique sequi inventore? Magni voluptate placeat cumque doloremque, earum provident quia quos, nesciunt accusantium, vel dolorum. Quia, dolores adipisci.
      </p>
      <div><button class="btn">&mdash; learn more</button></div>
    </div>
    <div class="border"></div>
    <div class="image">
      <img src="./assets/images/alex.jpg" alt="">
    </div>
  </div>  
</section>