.cepkoncept-services {
  .section-header {
    padding: 5rem 0 0 0;
    position: relative;
    text-align: center;

    .crown {
      height: 5rem;
      top: 0; left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      border-left: .3rem solid var(--primary-accent-color);
    }
  }

  .service {
    width: 75%;
    margin: 5rem auto;
    aspect-ratio: 1 / 2;
    border: .3rem solid black;

    display: flex;
    flex-flow: column nowrap;

    .border { border: .1rem solid black; flex-basis: .2rem; background: black;}

    .content {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-basis: calc(50% - 0.1rem);

      .header {
        padding: 0;
        font-size: 2.25rem; 
        text-align: center;
      }

      .text { padding: 3rem 0; }   

      .btn {
        float: right;
        font-weight: 700;
        font-size: 1.5rem;
        text-transform: uppercase;
      } 
    }

    .image {
      position: relative;
      flex-basis: calc(50% - .1rem);

      img {
        width: 120%;
        height: 90%;
        
        left: 50%;
        transform: translate(-50%, 0);

        aspect-ratio: 1;
        position: absolute;
      }
    }
  }

  .left {
    .image { order: 1;}
    .border { order: 2; }
    .content { order: 3; }
  }

  .left .image img { top: -.3rem; }
  .right .image img { bottom: -.3rem; }    

  @media screen and (orientation: landscape) {
    .section-header { padding: 5rem 0; }
    .service {
      width: 90%;
      margin: 10rem auto;
      aspect-ratio: 3.25;
      flex-flow: row nowrap;

      .content {
        padding: 0 5rem;
        .header { font-size: 2.5rem; }
      }

      .image img {
        top: 50%;
        left: initial;
        width: initial;
        height: 135%;
        transform: translate(0, -50%);
      }
    }

    .left .image img { left: -.3rem; }
    .right .image img { right: -.3rem; }    
  }
}