  <section class="cepkoncept-services">

    <header class="section-header" style="margin-bottom: 5rem;">
      <div class="dash"></div>
      <h1 class="main-header-bold">services</h1>
      <h2 class="sub-header">we work with you not for you</h2>
    </header>    

    <div class="service-container">
      <div class="left-box">
        <div class="box-content">
          <div class="section-header"><h1 class="main-header-bold">01 &#8211; Architectural consultancy</h1></div>
          <p class="paragraph-light">
            An office space must capture the essence of a company and provide employees 
            with a sense of belonging and identity. It’s about the big decision, but also 
            the small details that define a place. These things, combined with a meticulously 
            planned design.
          </p>
          <span class="right-span">&#8212; Learn More</span>
        </div>
      </div>

      <div class="right-box">
        <img class="image" src="./assets/images/rohim.jpg">
      </div>
    </div>

    <div class="service-container">
      <div class="right-box">
        <img class="image odd" src="./assets/images/lee.jpg">
      </div>

      <div class="left-box-odd">
        <div class="box-content" style="padding: 6rem 4rem;">
          <div class="section-header"><h1 class="main-header-bold">02 &#8211; Wet Works</h1></div>
          <p class="paragraph-light">
            An office space must capture the essence of a company and provide employees 
            with a sense of belonging and identity. It’s about the big decision, but also 
            the small details that define a place. These things, combined with a meticulously 
            planned design.
          </p>
          <span class="left-span">&#8212; Learn More</span>
        </div>
      </div>
    </div>

    <div class="service-container">
      <div class="left-box">
        <div class="box-content">
          <div class="section-header">
            <h1 class="main-header-bold">03 &#8211; Dry Works</h1>
          </div>
          <p class="paragraph-light">
            An office space must capture the essence of a company and provide employees 
            with a sense of belonging and identity. It’s about the big decision, but also 
            the small details that define a place. These things, combined with a meticulously 
            planned design.
          </p>
          <span class="right-span">&#8212; Learn More</span>
        </div>
      </div>

      <div class="right-box">
        <img class="image" src="./assets/images/meurice.jpg">
      </div>
    </div>

  </section>

