.cepkoncept-projects {
  padding: 0 5rem;

  .section-header {
    padding: 5rem;
    text-align: center;

    .dash {
      height: 50px;
      margin-bottom: 1rem;
      display: inline-block;
      border: 1px solid #fdaf11;
    }

    text-align: center;
  }

  .projects-slider {
    width: 100%;
    aspect-ratio: 8 / 3;

    [data-wrapper] { height: 100%; }

    .slide {

      height: 100%;
      aspect-ratio: 1 / 1.5;
      position: relative;

      color: white;
      text-transform: capitalize;
      // background: black;
      display: flex;
      justify-content: center;
      align-items: center;

      img { 
        z-index: 0;
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        position: absolute;
        object-fit: cover;
        opacity: .75;
        transition: opacity .3s ease;
      }

      .description {

        z-index: 1;
        position: absolute;
        max-width: 60%;
        display: inline-block;
        bottom: 12.5%; left: 7.5%;
        transition: bottom .3s ease;

        .name { 
          font-weight: 600;
          font-size: 2.75rem;
          letter-spacing: 0.06rem;
          line-height: 1.5;
        }

        .category { 
          font-size: 1.5rem; 
          letter-spacing: 0.03rem; 
          padding-bottom: 1.2rem;
        }

        .view-project {

          font-weight: 300;
          font-size: 1.5rem;
          letter-spacing: 0.03rem;

          position: absolute;
          display: inline-block;

          padding-bottom: .75rem;

          opacity: 0;
          bottom: -60%;

          transition: all .3s ease;
          
          &::before {
            content: "";
            width: 30%;
            height: 100%;
            position: absolute;
            display: inline-block;
            border-bottom: 2px solid darkgoldenrod;
            transition: width .3s ease;
          }

          &:hover::before { width: 100%; }

          a { color: white }

        }

      }

      &:hover {
        img { opacity: .2; }
        .description {
          bottom: 14%;
          .view-project { opacity: 1; bottom: -37%; }
        }
      }

    }

  }

}