<section
  id="cepkoncept-projects"
  class="cepkoncept-projects"
  data-nav-target="projects"
  data-scroll-offset="40"
>
  <header class="section-header">
    <div class="crown"></div>
    <h2 class="main-header main-header-bold">projects</h2>
    <p class="sub-header">take a look at what we are capable of</p>
  </header>

  <div data-slider="projects-slider" class="projects-slider">
    <ul data-wrapper>
      <figure class="project image-bg" data-focus>
        <img src="assets/images/ashbell_apartments/(8).png" alt="image of ashbell apartments">

        <figcation class="description">
          <p class="category sub-header">architecture</p>
          <h3 class="name main-header main-header-bold">ashbell apartments</h3>
          <button class="btn btn-bg-slide">view project</button> 
        </figcation>
      </figure>

      <figure class="project image-bg" data-focus>
        <img src="assets/images/bethpage_homes/(9).jpg" alt="image of bethpage homes">

        <figcation class="description">
          <p class="category sub-header">consultancy</p>
          <h3 class="name  main-header main-header-bold">bethpage homes</h3>
          <button class="btn btn-bg-slide">view project</button> 
        </figcation>
      </figure>     

      <figure class="project image-bg" data-focus>
        <img 
          src="assets/images/primewaterview_estate/(5).png" 
          alt="arial image of primewater view estate">

        <figcation class="description">
          <p class="category sub-header">construction</p>
          <h3 class="name  main-header main-header-bold">primewater view</h3>
          <button class="btn btn-bg-slide">view project</button> 
        </figcation>
      </figure>      

      <figure class="project image-bg" data-focus>
        <img 
          src="assets/images/home/(2).jpeg" 
          alt="arial image of classic home">

        <figcation class="description">
          <p class="category sub-header">design</p>
          <h3 class="name  main-header main-header-bold">classic home</h3>
          <button class="btn btn-bg-slide">view project</button> 
        </figcation>
      </figure>                  
    </ul>
  </div>

  <div class="pagination projects-pagination">
    <button class="active page">01</button>
    <button class="page">02</button>
    <button class="page">03</button>
    <button class="page">04</button>
  </div>  
</section>