.cepkoncept-projects {
  margin: 10rem 0;
  position: relative;

  .section-header {
    padding: 5rem 0;
    position: relative;
    text-align: center;

    .crown {
      height: 5rem;
      top: 0; left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      border-left: .3rem solid var(--primary-accent-color);
    }
  }

  .projects-slider {
    width: 85%;
    margin: 0 auto;
    aspect-ratio: 0.7;

    [data-wrapper] { height: 100%; }

    .project {
      height: 100%;
      margin: 0 1rem;
      background: black;
      position: relative;
      aspect-ratio: 1 / 1.5;

      color: white;

      img { opacity: .6; transition: opacity .3s ease; }

      .description {
        bottom: 20%;
        max-width: 60%;
        position: absolute;
        display: inline-block;
        bottom: 15.5%; left: 7.5%;
        transition: bottom .3s ease;

        .name { padding-bottom: 0; font-size: 3.25rem; }

        .category {  font-size: 1.1rem;  padding-bottom: 1.2rem; }

        .btn {
          opacity: 1;
          bottom: -50%;
          font-weight: 700;
          padding: 1rem 1.25rem;
          text-transform: uppercase;
          
          position: absolute;

          border: .3rem solid var(--primary-accent-color);
        }
      }
    }
  }

  .projects-pagination { padding: 3rem; font-size: 2rem; }

  @media screen and (orientation: landscape) {
    .section-header { padding: 5rem; }

    .projects-slider {
      width: 90%;
      aspect-ratio: 8 / 3;

      .project .description { bottom: 12.5%; }
      .project .description .btn { opacity: 0; bottom: -60%; }

      .project:hover {
        img { opacity: .2; }

        .description {
          bottom: 20%;
          .btn { opacity: 1; bottom: -50%; }
        }       
      }
    }

  .projects-pagination { font-size: 1.5rem; }
  }
}