<section class="cepkoncept-projects">
  <header class="section-header">
    <div class="dash"></div>
    <h1 class="main-header-bold">projects</h1>
    <h2 class="sub-header">take a look at what we are capable of</h2>
  </header>
  <div data-slider="projects-slider" class="projects-slider">
    <div data-wrapper>
      
      <figure class="slide" data-focus>
        <div style="position: absolute;height: calc(100% - 2rem);width: calc(100% - 2rem);background: black;"><div></div></div>
        <img src="assets/images/alex.jpg" alt="">
        <figcation class="description">
          <p class="category">architecture</p>
          <h1 class="name">ashbell apartments</h1>
          <div class="view-project">
            <a href="#">view project</a>
           </div> 
        </figcation>
      </figure>
      
      <figure class="slide">
        <div style="position: absolute;height: calc(100% - 2rem);width: calc(100% - 2rem);background: black;"><div></div></div>
        <img src="assets/images/charles.jpg" alt="">
        <figcation class="description">
          <p class="category">architecture</p>
          <h1 class="name">bethpage homes</h1>
          <div class="view-project">
            <a href="#">view project</a>
           </div> 
        </figcation>
      </figure>
      
      <figure class="slide">
        <div style="position: absolute;height: calc(100% - 2rem);width: calc(100% - 2rem);background: black;"><div></div></div>
        <img src="assets/images/meurice.jpg" alt="">
        <figcation class="description">
          <p class="category">architecture</p>
          <h1 class="name">primewater view estate</h1>
          <div class="view-project">
            <a href="#">view project</a>
           </div> 
        </figcation>
      </figure>
      
      <figure class="slide">
        <div style="position: absolute;height: calc(100% - 2rem);width: calc(100% - 2rem);background: black;"><div></div></div>
        <img src="assets/images/lee.jpg" alt="">
        <figcation class="description">
          <p class="category">architecture</p>
          <h1 class="name">ashbell apartments</h1>
          <div class="view-project">
            <a href="#">view project</a>
           </div> 
        </figcation>
      </figure>
      
      <figure class="slide">
        <div style="position: absolute;height: calc(100% - 2rem);width: calc(100% - 2rem);background: black;"><div></div></div>
        <img src="assets/images/rohim.jpg" alt="">
        <figcation class="description">
          <p class="category">architecture</p>
          <h1 class="name">bethpage home</h1>
          <div class="view-project">
            <a href="#">view project</a>
           </div> 
        </figcation>
      </figure>
      
      <figure class="slide">
        <div style="position: absolute;height: calc(100% - 2rem);width: calc(100% - 2rem);background: black;"><div></div></div>
        <img src="assets/images/ungaro.jpg" alt="">
        <figcation class="description">
          <p class="category">architecture</p>
          <h1 class="name">primewaterview estate</h1>
          <div class="view-project">
            <a href="#">view project</a>
           </div> 
        </figcation>
      </figure>
    </div>
  </div>
</section>