
<section class="cepkoncept-hero" data-nav-target="home">
  <header class="hero-header section-header">
    <p class="sub-header">building tomorrow &mdash; today</p>

    <h2 class="main-header main-header-bold">
      you <br class="mobile-br"> dream it <br class="desktop-br"> 
      we <br class="mobile-br"> build it
    </h2>

    <p class="hero-text paragraph paragraph-dark">
      we are a Nigerian based architecture firm. 
      we do everything from consultancy to construction,
      dry works to wet works, and everything in between.
      <b>choose us, you won't regret it.</b>
    </p>

    <a class="btn-bg-slide btn" href="mailto:jesuseun.j.olatunde@gmail.com">
      <module href="../../assets/icons/plus.svg" class="plus"></module>
      let's build!
    </a>
  </header>

  <aside class="hero-projects">
    <h2 class="header">projects</h2>

    <ul class="projects-list">
      <li class="project">
        <figure class="project-card">
          <div class="image">
            <img 
              alt="image of ashbell apartments project"
              src="assets/images/ashbell_apartments/(11).png" 
            >
          </div>

          <figcaption class="details">
            <div class="title">ashbell apartments</div>

            <div class="date">
              <module href="../../assets/icons/calendar.svg" class="calendar"></module>
              &mdash; 20 Aug 2020
            </div>

            <div class="footer">
              <button class="view-more">view more</button>

              <button class="bell">
                <module href="../../assets/icons/bell.svg" class="bell"></module>
              </button>
            </div>
          </figcaption>
        </figure>
      </li>

      <li class="project">
        <figure class="project-card">
          <div class="image">
            <img 
              alt="image of beth page homes project"
              src="assets/images/bethpage_homes/(5).jpg" 
            >
          </div>

          <figcaption class="details">
            <div class="title">bethpage homes</div>

            <div class="date">
              <module href="../../assets/icons/calendar.svg" class="calendar"></module>
              &mdash; 20 Aug 2020
            </div>

            <div class="footer">
              <button class="view-more">view more</button>

              <button class="bell">
                <module href="../../assets/icons/bell.svg" class="bell"></module>
              </button>
            </div>
          </figcaption>
        </figure>
      </li> 

      <li class="project">
        <figure class="project-card">
          <div class="image">
            <img 
              alt="image of prime water view project"
              src="assets/images/primewaterview_estate/(5).png" 
            >
          </div>

          <figcaption class="details">
            <div class="title">primewater view</div>

            <div class="date">
              <module href="../../assets/icons/calendar.svg" class="calendar"></module>
              &mdash; 20 Aug 2020
            </div>

            <div class="footer">
              <button class="view-more">view more</button>

              <button class="bell">
                <module href="../../assets/icons/bell.svg" class="bell"></module>
              </button>
            </div>
          </figcaption>
        </figure>
      </li>   
    </ul>    
  </aside>

  <nav class="hero-socials">
    <a href="#"><module href="../../assets/icons/facebook.svg"></module></a>
    <a href="#"><module href="../../assets/icons/instagram.svg"></module></a>
    <a href="#"><module href="../../assets/icons/twitter.svg"></module></a>    
  </nav>
</section>