.cepkoncept-hero {
  height: calc(100vh - 78px);
  padding-top: 60px;

  background-image: 
    linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)),
    url("../../assets/images/rocket_launch.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns: auto 35%;

  .main {
    color: white;
    padding: 0 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .section-header {
      padding: 0;
      .main-header-bold { font-size: 7rem; padding: 0; margin-left: -.4rem;}
      .sub-header{ padding-bottom: 1rem; }
    }

    .short-text { 
      width: 70%; 
      font-size: 1.2rem; 
      padding: 2.5rem 0 4rem 0;
    }

    .btn {
      color: black;
      width: 20rem;
      padding: 2.75rem;

      font-weight: 800;
      font-size: 1.75rem;
      text-transform: uppercase;

      &::before { 
        width: 100%; 
        background: var(--primary-accent-color); 
      }
    }
  }

  .projects {
    padding: 3em 5rem;
    overflow-y: scroll;
    height: 99%;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);

    .header {
      color: white;
      font-size: 3rem;
      font-weight: 700;
      padding-bottom: 1rem;
      font-variant: small-caps;
      text-transform: capitalize;
    }

    .project-card {
      flex: 0 0 auto;
      padding: 2rem;
      margin: 1.5rem 0;
      aspect-ratio: 2.4 / 1;
      background: rgb(240, 240, 240);

      display: grid;
      grid-template-columns: 35% auto;

      box-shadow: 
        1px 1px black,
        3px 3px white,
        5px 5px var(--primary-accent-color);

      .project-details { padding: 1.5rem; }

      .project-image {
        display: flex;
        align-items: center;
        img {  width: 100%;  aspect-ratio: 1 / 1; }
      }

      .project-title {
        font-weight: 700;
        font-size: 1.5rem;
        text-transform: capitalize;
      }

      .project-date {
        color: rgb(100, 100, 100);
        padding: 1rem 0;

        svg {
         width: 1.25rem;
         vertical-align: bottom;
         fill: rgb(200, 200, 200);
       }
      }

      .footer { 
        display: flex; 

        .view-more {
          height: 3.5rem;
          font-weight: 700;
          aspect-ratio: 2.5 / 1;
          text-transform: uppercase;
          background: var(--primary-accent-color);
        }

        .bell {
          height: 3.5rem;
          aspect-ratio: 1 / 1;

          background: white;
          margin-left: 1rem;

          display: flex;
          align-items: center;
          justify-content: center;

          svg { height: 50%; fill: var(--primary-accent-color); }
        }
      }

    }
  }

  .socials {
    bottom: 0;
    left: 2.5rem;
    width: 1.25rem;
    position: absolute;

    display: flex;
    flex-flow: column nowrap;

    a { margin: 1rem 0; }
    svg { width: 100%; fill: white; }
  }
}
