
<section class="cepkoncept-hero">
  <div class="hero-wrapper">

    <div class="hero-socials">
      <a href="#"><module href="../../assets/icons/facebook.html"></module></a>
      <a href="#"><module href="../../assets/icons/instagram.html"></module></a>
      <a href="#"><module href="../../assets/icons/twitter.html"></module></a>
    </div>

    <div class="hero-slider" data-slider="hero-slider">

      <div class="hero-bg bg-1">
        <img src="./assets/images/rocket_launch.jpg" alt="">
      </div>
      <div class="hero-bg bg-2">
        <img src="./assets/images/rocket_sunset.jpg" alt="">
      </div>
      <div class="hero-bg bg-3">
        <img src="./assets/images/sunrise.jpg" alt="">
      </div>  

      <div data-wrapper>

        <div class="slide slide-1" data-focus>
            <h1 class="header">future city buildings</h1>
            <a class="btn-type-1" href="#">
              <module href="../../assets/icons/plusIcon.html"></module>
              view more
            </a>
        </div>

        <div class="slide slide-2">
            <h1 class="header">minimal home designs</h1>
            <a class="btn-type-1" href="#">
              <module href="../../assets/icons/plusIcon.html"></module>
              view more
            </a>
        </div>

        <div class="slide slide-3">
            <h1 class="header">harmony of shapes</h1>
            <a class="btn-type-1" href="#">
              <module href="../../assets/icons/plusIcon.html"></module>
              view more
            </a>
        </div>

      </div>
    </div>

    <div class="hero-cards">

      <div class="hero-card active card-1">
        <div class="hero-card-wrapper">
          <div class="card-no">01</div>
          <h3 class="hero-header">future city buildings</h3>
          <p class="paragraph-light">
            Lorem ipsum dolor sit amet conse ctetur adipi sicing elit.
          </p>
        </div>
      </div>

      <div class="hero-card card-2">
        <div class="hero-card-wrapper">
          <div class="card-no">02</div>
          <h3 class="hero-header">minimal home designs</h3>
          <p class="paragraph-light">
            Lorem ipsum dolor sit amet conse ctetur adipi sicing, elit.  
          </p>
        </div>
      </div>

      <div class="hero-card card-1">
        <div class="hero-card-wrapper">
          <div class="card-no">03</div>
          <h3 class="hero-header">harmony of shapes</h3>
          <p class="paragraph-light">
            Lorem ipsum dolor sit amet conse ctetur adipi sicing, elit.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
