  <section class="cepkoncept-team" data-nav-target="about">
    <div class="image image-bg">
      <img src="./assets/images/employees/CA.jpeg" alt="image of Dr Cephas Adelore">
    </div>
    <div class="description">
      <header class="section-header">
        <h2 class="main-header main-header-light">CEO</h2>
        <p class="sub-header">dr. cephas adelore</p>
      </header>
      <p class="paragraph paragraph-dark">
         Cephas Adeoye is the managing director of the company with over 25 years of experience. He has worked with many construction and consulting firms including Space & Place Limited, Spaceonline Limited and AMA Associates and attended many trade exhibitions both in Nigeria and abroad. Cephas Adelore is well known for his vast experience in the industry and his ability to work under pressure.
      </p>
      <div class="team-footer">
        <button>
          <module href="../../assets/icons/left.svg"></module>
        </button>
        <div class="pagination">
          <button class="active page">01</button>
          <button class="page">02</button>
          <button class="page">03</button>
        </div>
        <button>
          <module href="../../assets/icons/right.svg"></module>
        </button>
      </div>
    </div>
  </section>