  <section class="cepkoncept-team">
    <div class="image image-bg">
      <img src="./assets/images/team3.jpg" alt="">
    </div>
    <div class="description">
      <header class="section-header">
        <h1 class="main-header-light">CEO</h1>
        <p class="sub-header">dr. cephas adelore</p>
      </header>
      <p class="paragraph-dark">
        Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Optio soluta nisi id cumque. Saepe officia quod officiis expedita blanditiis, at, fugit optio neque facere sapiente, nemo, nobis ipsam? Laboriosam, fuga!
        Culpa perspiciatis modi voluptatem quam vel velit sed nisi. Expedita, consequuntur consectetur eius nihil doloremque voluptas perferendis doloribus quos aliquam nemo, optio quo odit inventore illum reprehenderit adipisci neque sint!
      </p>
      <div class="team-footer">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"/></svg>
        <div class="pagination">
          <div class="active page">01</div>
          <div class="page">02</div>
          <div class="page">03</div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"/></svg>
      </div>
    </div>
  </section>