.cepkoncept-about {

  margin: 25rem 4vh 0 4vh;
  border: 1px solid black;
  position: relative;

  display: flex;

  .section-dash {
    top: -12.5rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border-bottom: 1px solid var(--primary-accent-color);
    width: var(--length);
  }

  .content {

    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-basis: 65%;
    position: relative;

    .section-header { text-align: center; }

    .paragraph-light { padding: 0 7rem; }

    .about-footer {

      display: flex;
      justify-content: space-between;
      padding: 4rem 7rem;

      .socials {

        display: flex;
        align-items: center;
        justify-content: center;

        & > :first-child  { margin-left: 0; }

        .encircled-icon { width: 3rem; }

      }

      .btn {
        padding: 0;
        border: none;
        background: none;
        border: 2px solid var(--primary-accent-color);

        height: 5rem;
        aspect-ratio: 43 / 12;

        font-size: 1.4rem;
        font-weight: 700;
        text-transform: capitalize;
        position: relative;
        transition: color .3s ease-in-out;


        &::before {
          content: "";
          height: 100%;
          width: 0;
          position: absolute;
          left: 0; top: 0;
          z-index: -1;
          background: var(--primary-accent-color);
          transition: width .3s ease-in-out;

        }

        &:hover {
          color: white;
          &::before { width: 100%; }
        }

      }

    }
  }

  .image {
    position: relative;
    background: url("../../assets/images/lee.jpg");
    background-size: cover;
    flex-basis: 35%;

    .border {
      position: absolute;
      height: 130%;
      top: 50%;
      transform: translateY(-50%);
      border-right: 2px solid black;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }

  }

  --length: 7.5rem;

  .border-dash {
    position: absolute;
    border: 2px solid black;
    background: black;
  }

  .horizontal { width: var(--length); height: 4px;}
  .vertical { height: var(--length); width: 4px;}

  .top { top: 0; transform: translate(-4px, -100%);}

  .bottom { bottom: 0; transform: translate(-4px, 100%); }

  .side-top { top: 0; transform: translate(-100%, -4px); }

  .side-bottom { bottom: 0; transform: translate(-100%, 4px); }

  .foobar-dash {
    top: 0;
    left: 50%;
    width: 0px;
    height: var(--length);
    transform: translateY(-50%);
    border: 1px solid var(--primary-accent-color);
    background: var(--primary-accent-color);
  }

}