  <section class="cepkoncept-about">

    <div class="section-dash"></div>

    <div class="content">

      <div class="border-dash vertical foobar-dash"></div>
      <div class="border-dash horizontal top"></div>
      <div class="border-dash vertical side-top"></div>
      <div class="border-dash vertical side-bottom"></div>
      <div class="border-dash horizontal bottom"></div>

      <header class="section-header">
        <h1 class="main-header-bold">about us</h1>
        <p class="sub-header">lorem ipsum idor diet lamour foo</p>
      </header>
      
      <p class="paragraph-light">
        A short story is a piece of prose fiction that typically can be read in one sitting and focuses on a self-contained incident or series of linked incidents, with the intent of evoking a single effect or mood. The short story is one of the oldest types of literature and has existed in the form of legends, mythic tales, folk tales, fairy tales, tall tales, fables and anecdotes in various ancient communities around the world. The modern short story developed in the early 19th century. 
      </p>

      <div class="about-footer">
        <div class="socials">
          <a href="#" class="encircled-icon">
            <module href="../../assets/icons/facebook.html"></module>
          </a>
          <a href="#" class="encircled-icon">
            <module href="../../assets/icons/instagram.html"></module>
          </a>
          <a href="#" class="encircled-icon">
            <module href="../../assets/icons/twitter.html"></module>
          </a>
        </div>
        <button class="btn">reach out!</button>
      </div>

    </div>

    <div class="image">
      <div class="border"></div>
    </div>
  </section>  