  <section 
    id="cepkoncept-about"
    class="cepkoncept-about" 
    data-nav-target="about" 
    data-scroll-offset="-60"
  >
    <div class="content">
      <div class="crown"></div>

      <header class="about-header section-header">
        <h1 class="main-header main-header-bold">about us</h1>
        <p class="sub-header">find out who we are and what we do</p>
      </header>
      
      <p class="about-text paragraph paragraph-light">
        Cepkoncept LLC is a consultancy and development consortium (design and build outfit), incorporated in Nigeria. It is a limited liability company with aim of providing high quality of excellence in designs and quest for quality and functional developments or habitation at an affordable cost within short period.
      </p>

      <div class="about-footer">
        <ul class="about-socials">
          <li><a href="#" class="encircled-icon">
            <module href="../../assets/icons/facebook.svg"></module>
          </a></li>
          <li><a href="#" class="encircled-icon">
            <module href="../../assets/icons/instagram.svg"></module>
          </a></li>
          <li><a href="#" class="encircled-icon">
            <module href="../../assets/icons/twitter.svg"></module>
          </a></li>
        </ul>
        <button class="btn btn-bg-slide">reach out!</button>
      </div>
    </div>

    <div class="image"><div class="border"></div></div>
  </section>  