.cepkoncept-about {
  width: 95%;
  position: relative;
  margin: 15rem auto 15rem;

  border: .4rem solid black;

  box-shadow: .1rem .1rem var(--primary-accent-color), .5rem .5rem black;

  .image { display: none; }

  .content {
    padding: 0 3rem;

    .crown {
      height: 7.5rem;
      top: 0; left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      border-left: .3rem solid var(--primary-accent-color);
    }

    .about-header { text-align: center; }

    .about-footer {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      padding: 4rem 0;

      .about-socials {
        display: flex;
        align-items: center;
        justify-content: center;

        .encircled-icon { width: 3.25rem; }
        & > :first-child  { margin-left: 0; }
      }

      .btn {
        height: 5rem;
        margin-bottom: 3rem;
        aspect-ratio: 43 / 12;
        border: .4rem solid var(--primary-accent-color);

        font-weight: 700;
        font-size: 1.4rem;
        text-transform: capitalize;
        transition: color .3s ease-in-out;

        &:hover { color: white; &::before { width: 100%; } }
        &::before { background: var(--primary-accent-color); }
      }
    }  
  }

  @media screen and (orientation: landscape) {
    & { 
      width: 90%; 
      display: flex;
      aspect-ratio: 2.25;
      box-shadow: inherit;
      border: .3rem solid black;
    }

    .content {
      display: flex;
      padding: 0;
      flex-direction: column;
      justify-content: center;

      flex-basis: 65%;
      position: relative;

      .about-header { text-align: center; }
      .about-text { padding: 0 7rem; }
      .about-footer { 
        margin-bottom: 0;
        padding: 4rem 7rem; 
        flex-direction: row;
      }    
    }

    .image {
      display: block;
      flex-basis: 35%;

      background-size: cover;
      background-position: center;
      background-image: 
        linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)),
        url("../../assets/images/ashbell_apartments/(11).png");

      .border {
        top: 50%;
        height: 130%;
        position: absolute;
        transform: translateY(-50%);
        border-right: .3rem solid black;
      }
    }
  }
}