<nav class="cepkoncept-navbar">
  <ul class="navbar-links">
    <li class="navbar-link logo"><a href="#">cepkoncept</a></li>
    <li class="navbar-link active btn-type-1"><a href="#">home</a></li>
    <li class="navbar-link btn-type-1"><a href="#">about</a></li>
    <li class="navbar-link btn-type-1"><a href="#">projects</a></li>
    <li class="navbar-link btn-type-1"><a href="#">services</a></li>
    <li class="navbar-link btn-type-1"><a href="#">contacts</a></li>
    <li class="navbar-link sidebar" data-sidebar="sidebar"><a href="#">
      <module href="../../assets/icons/sidebarIcon.html"></module>
    </a></li>
  </ul>
</nav>