
<header class="cepkoncept-navbar" id="cepkoncept-navbar">
  <h1 class="logo center-h">cepkoncept</h1>

  <nav class="navigation">
    <ul class="list">
      <li class="navbar-link" data-nav-link="home"><a href="#">home</a></li>
      <li class="navbar-link" data-nav-link="about"><a href="#cepkoncept-about">about</a></li>
      <li class="navbar-link" data-nav-link="projects"><a href="#cepkoncept-projects">projects</a></li>
      <li class="navbar-link" data-nav-link="services"><a href="#cepkoncept-services">services</a></li>
      <li class="navbar-link" data-nav-link="contact"><a href="#cepkoncept-footer">contact</a></li>
    </ul>
  </nav>

  <button class="sidebar-btn" aria-label="Open Sidebar">
    <module href="../../assets/icons/square.svg" class="square-menu"></module>
    <module href="../../assets/icons/ellipsis.svg" class="ellipsis-menu"></module>
  </button>
</header>

