<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Services</title>
</head>
<body>
  <section class="cepkoncept-services">

    <div class="service-container">
      <div class="left-box">
        <div class="box-content">
          <div class="service-header"><h1>01 &#8211; Architectural consultancy</h1></div>
          <p class="service-text">
            An office space must capture the essence of a company and provide employees 
            with a sense of belonging and identity. It’s about the big decision, but also 
            the small details that define a place. These things, combined with a meticulously 
            planned design.
          </p>
          <span class="right-span">&#8212; Learn More</span>
        </div>
      </div>

      <div class="right-box">
        <img class="image" src="images/consultancy.jpg">
      </div>
    </div>

    <div class="service-container">
      <div class="right-box">
        <img class="image odd" src="images/wet-works.jpg">
      </div>

      <div class="left-box-odd">
        <div class="box-content">
          <div class="service-header"><h1>02 &#8211; Wet Works</h1></div>
          <p class="service-text">
            An office space must capture the essence of a company and provide employees 
            with a sense of belonging and identity. It’s about the big decision, but also 
            the small details that define a place. These things, combined with a meticulously 
            planned design.
          </p>
          <span class="left-span">&#8212; Learn More</span>
        </div>
      </div>
    </div>

    <div class="service-container">
      <div class="left-box">
        <div class="box-content">
          <div class="service-header">
            <h1>03 &#8211; Dry Works</h1>
          </div>
          <p class="service-text">
            An office space must capture the essence of a company and provide employees 
            with a sense of belonging and identity. It’s about the big decision, but also 
            the small details that define a place. These things, combined with a meticulously 
            planned design.
          </p>
          <span class="right-span">&#8212; Learn More</span>
        </div>
      </div>

      <div class="right-box">
        <img class="image" src="images/dry-works.jpg">
      </div>
    </div>

  </section>
</body>
</html>