
<footer class="cepkoncept-footer" data-nav-target="contact">
  <div class="crown"></div>

  <div class="section-0">
    <ul class="socials">
      <li>
        <a href="#" class="encircled-icon">
          <module href="../../assets/icons/facebook.svg"></module>
        </a>
      </li>

      <li>
        <a href="#" class="encircled-icon">
          <module href="../../assets/icons/instagram.svg"></module>
        </a>
      </li>

      <li>
        <a href="#" class="encircled-icon">
          <module href="../../assets/icons/twitter.svg"></module>
        </a>
      </li>
    </ul>

    <h2 class="main-header main-header-bold header">get in touch</h2>
    
    <button class="btn btn-bg-slide">make an enquiry</button>
  </div>

  <div class="section-1">
    <div class="first">
      <p class="location main-header main-header-bold">surulere.</p>
      <p class="number sub-header">+2349063308692</p>
    </div>

    <div class="second">
      <p class="location main-header main-header-bold">lekki II.</p>
      <p class="number sub-header">+2348139925489</p>
    </div>    
  </div>
  <div class="section-2">
    <p class="copy paragraph paragraph-dark">
      <span id="year"></span>
      <span style="color: var(--primary-accent-color)">&copy;</span> 
      Cepkoncept 
      <span style="color: var(--primary-accent-color)">&trade;</span>, 
      all rights reserved.
    </p>
  </div>
</footer>