
<footer class="cepkoncept-footer">
  <section class="footer-1">
    <div class="footer-wrapper">
      <div class="socials">
        <a class="icon-link">
          <span class="icon-wrapper"><module class="icon" href="../../assets/icons/facebook-f.html"></module></span>
        </a>

        <a class="icon-link">
          <span class="icon-wrapper"><module class="icon" href="../../assets/icons/twitter-f.html"></module></span>
        </a>

        <a class="icon-link">
          <span class="icon-wrapper"><module class="icon" href="../../assets/icons/instagram-f.html"></module></span>
        </a>

        <a class="icon-link">
          <span class="icon-wrapper"><module class="icon" href="../../assets/icons/linkedin-f.html"></module></span>
        </a>
      </div>

      <div class="header">
        <h2>Let's Talk?</h2>
      </div>

      <div class="button-container">
        <a class="button">Make an enquiry!</a>
      </div>

    </div>
  </section>

  <section class="footer-2">

    <div class="contact-container">
      <a class="contact-link">
        <div class="contact">
          <h3 class="title">Surulere.</h3>
          <p class="phone-no">+2349063308692</p>
        </div>
      </a>

      <a class="contact-link">
        <div class="contact">
          <h3 class="title">Lekki II.</h3>
          <p class="phone-no">+2348139925489</p>
        </div>
      </a>

    </div>

  </section>

  <section class="footer-3">
    <div class="footer-container">
      <p class="footer-title">2022© Cepkoncept, All rights reserved</p>
      <ul class="footer-menu">
        <li>Terms of Use</li>
        <li>Privacy Policy</li>
        <li>Cookie Policy</li>
      </ul>
    </div>
  </section>
</footer>